<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBQLvRIl6NrIhtgArmqC8twA4mE-pRSgaI</string>
	<key>GCM_SENDER_ID</key>
	<string>1030904890422</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Baseball.Baseball</string>
	<key>PROJECT_ID</key>
	<string>baseball-642ed</string>
	<key>STORAGE_BUCKET</key>
	<string>baseball-642ed.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1030904890422:ios:5d9a2c0ed381c8ff79c497</string>
</dict>
</plist>